<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xplore">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".XploreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xplore.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".maps.MapActivity"
            android:label="@string/activity_maps_title" />
        <activity
            android:name=".reserve.ReserveInfoActivity"
            android:label="@string/activity_library_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groups.view.GroupInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".groups.discussion.DiscussionActivity"/>
        <activity
            android:name=".groups.create.SearchDestinationActivity"
            android:label="@string/activity_choose_destination_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groups.create.SearchUsersActivity"
            android:label="@string/activity_search_users_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.GoogleSignInActivity"
            android:label="@string/activity_authorization_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.RegisterActivity"
            android:label="@string/activity_register_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".user.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groups.create.CreateGroupActivity"
            android:label="@string/activity_create_group_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groups.create.EditGroupActivity"
            android:label="@string/edit_group"
            android:screenOrientation="portrait"/>
        <activity android:name=".groups.view.controls.InviteMembersActivity"
            android:label="@string/invite_members"
            android:screenOrientation="portrait"/>
        <activity android:name=".groups.requests.ManageRequestsActivity"
            android:label="Manage Requests"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings_title" />
        <activity
            android:name=".settings.LanguageSettingsActivity"
            android:label="@string/settings_language_title"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>