<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xplore">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".XploreApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xplore.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".StartingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <!-- Language Select -->
        <activity
            android:name=".intro.LanguageSelectActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" />

        <!-- Welcome Screen -->
        <activity
            android:name=".intro.WelcomeActivity"
            android:theme="@style/Theme.Intro" />

        <!-- Maps -->
        <activity
            android:name=".maps.BaseMapActivity"
            android:label="@string/activity_maps_title" />
        <activity
            android:name=".maps.GroupMapActivity"
            android:label="@string/activity_maps_title" />
        <activity
            android:name=".maps.SetDestinationMapActivity"
            android:label="@string/activity_choose_destination_title"/>

        <!-- Reserves -->
        <activity
            android:name=".reserve.ReserveInfoActivity"
            android:label="@string/activity_library_title"
            android:screenOrientation="portrait" />

        <!-- Groups -->
        <activity
            android:name=".groups.view.GroupInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groups.create.CreateGroupActivity"
            android:label="@string/activity_create_group_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groups.create.EditGroupActivity"
            android:label="@string/edit_group"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groups.view.controls.InviteMembersActivity"
            android:label="@string/invite_members"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groups.requests.ManageRequestsActivity"
            android:label="Manage Requests"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".groups.discussion.DiscussionActivity" />

        <!-- Search -->
        <activity
            android:name=".groups.create.SearchDestinationActivity"
            android:label="@string/activity_choose_destination_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groups.create.SearchUsersActivity"
            android:label="@string/activity_search_users_title"
            android:screenOrientation="portrait" />

        <!-- User Controls -->
        <activity
            android:name=".account.SignInActivity"
            android:label="@string/activity_authorization_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.RegisterActivity"
            android:label="@string/activity_register_title"
            android:screenOrientation="portrait" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <!-- User Profile -->
        <activity
            android:name=".user.UserProfileActivity"
            android:screenOrientation="portrait" />

        <!-- Settings -->
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings_title" />
        <activity
            android:name=".settings.LanguageSettingsActivity"
            android:label="@string/settings_language_title" />

        <!-- About -->
        <activity
            android:name=".AboutActivity"
            android:label="@string/nav_about" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>